<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--配置组件扫描@service-->
    <!--配置dubbo-->

    <dubbo:application name="pinyougou-seckill"></dubbo:application>

    <dubbo:registry protocol="zookeeper" address="192.168.25.128" port="2181"></dubbo:registry>

    <dubbo:protocol name="dubbo" port="20888"></dubbo:protocol>

    <dubbo:annotation package="com.pinyougou.seckill.service"></dubbo:annotation>

    <dubbo:provider timeout="1000000"></dubbo:provider>


    <bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer" id="freeMarkerConfigurer">
        <property name="templateLoaderPath" value="/WEB-INF/ftl/"></property>
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>


</beans>