<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--配置消费者-->
    <bean class="org.apache.rocketmq.client.consumer.DefaultMQPushConsumer" init-method="start" destroy-method="shutdown">
        <!--1.消费者组-->
        <property name="consumerGroup" value="consumer_sms_group"></property>
        <!--2.nameserver-->
        <property name="namesrvAddr" value="127.0.0.1:9876"></property>
        <!--3.订阅的主题-->
        <property name="subscription">
            <map>
                <entry key="SMS_TOPIC" value="*"></entry>
            </map>
        </property>
        <!--4.消费模式 集群-->
        <property name="messageModel" value="CLUSTERING"></property>
        <!--5.设置监听器-->
        <property name="messageListener" ref="messageListener"></property>
    </bean>

    <!--配置监听器-->
    <bean class="com.itheima.sms.listener.SMSMessageListener" id="messageListener"></bean>

</beans>